{% extends  'base.html.twig'%}

{% block body %}
    <h1>Administration</h1>
    <p class="lead">Cette section vous permet de réaliser l'intégralité des fonctions d'administration de l'application et de ses membres.</p>
    <ul>
        <li>
            <a href="{{ path('adminUser_page') }}">Administration des membres</a>
        </li>
        <li>
            <a href={{ path('viewPrize_page') }}>Gérer les lots</a>
        </li>
        <li>
            <a href="{{ path('viewModel_page') }}">Gérer les modèles</a>
        </li>
        <li>
            <a href="{{ path('viewCouponCode_page') }}">Gérer les coupons</a>
        </li>
    </ul>
{% endblock %}