{% extends 'base.html.twig' %}
{% block title %}Plus d'infos{% endblock %}
{% block reseauSociaux %}
    <!-- Facebook -->
    <meta property="og:url"
          content="{{ app.request.uri }}"/>
    <meta property="og:type"
          content="website"/>
    <meta property="og:title"
          content="Besoin d'aide ?"/>
    <meta property="og:description"
          content="Vous trouverez toutes les informations necessaires concernant GL & HF."/>
    <meta property="og:image"
          content="https://nsa40.casimages.com/img/2019/01/21/190121042431976526.png"/>
    <!-- Twitter -->
    <meta name="twitter:card"
          content="summary">
    <meta name="twitter:title"
          content="Besoin d'aide ?">
    <meta name="twitter:description"
          content="Vous trouverez toutes les informations necessaires concernant GL & HF.">
{% endblock %}

{% block body %}
    <h1 class="my-4">Plus d'infos sur Gl & HF</h1>
    <hr class="my-4">
    <section id="infosWho">
        <h2><u>Qui sommes-nous ?</u></h2>
        <p>GL & HF a été créé dans le seul but d'offrir des cadeaux à ses membres. Rejoignez-nous et tentez votre chance
            !</p>
    </section>
    <hr class="my-4">
    <section id="infosFonctionnement">
        <h2><u>Comment cela fonctionne-t-il ?</u></h2>
        <p>Il vous suffit tout simplement de créer un compte <strong>gratuitement</strong> et de commencer à jouer vos
            "tickets" sur les lots qui vous intéressent !</p>
        <p>Plus vous jouez de tickets sur un lot, plus vous avez de chances de gagner celui-ci !</p>
        <p>Concernant les tickets, deux moyens s'offrent à vous pour en obtenir :</p>
        <ul class="georgiaFont">
            <li>Si vous possédez un code promotionnel, entrez le dans le champ et validez ! Si votre code est valide,
                vous obtiendrez alors vos tickets
            </li>
            <li>Si vous n'avez aucun code en votre possession, ce n'est pas grave ! Obtenir des tickets est totalement
                gratuit, pour cela, il vous suffit de cliquer sur la vidéo et de la regarder jusqu'à la fin. N'oubliez
                pas de valider votre visionnage pour gagner vos tickets !
            </li>
        </ul>
    </section>
{% endblock %}