{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plus d'infos sur Gl & HF</h1>
    <hr>

    <section id="infosWho">
        <h2>Qui sommes-nous ?</h2>
        <p>GL & HF a été crée dans le seul but d'offrir des cadeaux à ses membres. Rejoignez-nous et tentez votre chance !</p>
    </section>

    <section id="infosFonctionnement">
        <h2>Comment cela fonctionne-t-il ?</h2>
        <p>Il vous suffit tout simplement de créer un compte <strong>gratuitement</strong> et de commencer à placer vos "tickets" sur les lots qui vous intéresses !</p>
        <p>Plus vous jouez de jeton sur un lot, plus vous avez de chances de gagner celui-ci ! <small>évitez donc de jouer sur plusieurs lot en même temps</small></p>
        <p>Concernant les jetons, deux moyens s'offrent à vous pour en obtenir :</p>
        <ul>
            <li>Si vous possédez un code promotionnel, entrez le dans le champ et validez ! Si votre code est valide, vous obtienderez alors vos tickets</li>
            <li>Si vous n'avez aucun code en votre possession, ce n'est pas grave ! Obtenir des tickets est totalement gratuit, pour celà, il vous suffit de cliquer sur la vidéo et de la regarder jusqu'à la fin. N'oubliez pas de valider votre visionnage pour gagner vos tickets !</li>
        </ul>
    </section>
{% endblock %}